@{
}

@model Final.Models.Quote

<div class="container">
    <h1>Add a Quote</h1>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="QuoteFull">Quote:</label>
        <input asp-for="QuoteFull" /><br />

        <label asp-for="Author">Author:</label>
        <input asp-for="Author" /><br />

        <label asp-for="CitationVar">Subject:</label>
        <input asp-for="CitationVar" /><br />

        <label asp-for="Citation">Citation:</label>
        <input asp-for="Citation" /><br />

        <br />
        <button asp-action="Add" type="submit">Add</button>
    </form>
</div>